@import "../utils";

.ask {
  background-color: $gray-bg;
  margin-top: 40px;

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;

    @include for-tablet {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__title {
    text-align: left;
  }

  &__img {
    margin: 18px 40px 30px 30px;
  }

  &__text {
    padding-bottom: 20px;
  }
}
