@import "../utils";

.hero {
  background: {
    image: url("./../images/hero-bg.png");
    repeat: no-repeat;
    position: top center;
    size: cover;
  };

  &--container {
    position: relative;
  }

  &__aside-left {
    position: relative;
    @include for-tablet {
      width: $aside-left-width;
    }
  }

  &__photo {
    @include for-phone {
      width: 100%;
    }
    @include for-tablet {
      position: relative;
      right: 50px;
      bottom: -4px;
    }
  }

  &__moto {
    width: 340px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.23);
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.6px;

    @include for-phone {
      padding-top: 20px;
      padding-bottom: 10px;
    }

    @include for-tablet {
      position: absolute;
      right: 0;
      top: 65px;
    }

    span {
      display: block;
      font-size: 18px;
      letter-spacing: 0.45px;
    }
  }
}
