@import "../utils";

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $dark-gray-bg;
  text-align: center;
  border-bottom: 2px solid #fff;

  @include for-phone {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include for-tablet {
    height: 60px;
  }

  &__text {
    color: #fff;
    letter-spacing: 1.2px;
    font: {
      size: 24px;
      weight: 700;
    }
  }

  &__phone {
    @include for-phone {
      display: block;
    }

    color: #004a80;
    letter-spacing: 1.4px;
    font: {
      size: 28px;
      family: "Raleway", serif;
      weight: 900;
    }
  }
}
