* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  color: #333;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400; }

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

a {
  text-decoration: none;
  cursor: pointer; }

.wrapper {
  z-index: 200;
  position: relative;
  background-color: #fff; }

.container {
  margin: 0 20px; }
  @media only screen and (min-width: 1024px) {
    .container {
      width: 960px;
      margin: 0 auto; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .header__logo {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .header__logo {
        width: unset; } }
  .header__contact {
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .header__contact {
        margin: 40px 0; } }
  .header__text {
    color: #a6a096;
    font-size: 21px;
    letter-spacing: 0.75px; }
  .header__phone {
    color: #8d7249;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.1px; }

.hero {
  background-image: url("./../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  .hero--container {
    position: relative; }
  .hero__aside-left {
    width: 630px;
    position: relative; }
  .hero__photo {
    position: relative;
    right: 40px;
    bottom: -4px; }
  .hero__moto {
    position: absolute;
    right: 0;
    top: 65px;
    width: 340px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.23);
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.6px; }
    .hero__moto span {
      display: block;
      font-size: 18px;
      letter-spacing: 0.45px; }

.contact-form {
  margin-top: 40px;
  margin-bottom: 30px; }
  .contact-form__aside-left {
    width: 630px; }
  .contact-form__aside-rigth {
    width: 300px; }
  .contact-form__title {
    color: #8d7249;
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.75px; }
  .contact-form__text {
    font-size: 15px;
    margin: 30px 0 0;
    padding: 0; }
    .contact-form__text span {
      font-family: "Raleway", serif; }

.phone {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a6a096; }
  .phone__text {
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 24px;
    font-weight: 700; }
  .phone__phone {
    color: #004a80;
    letter-spacing: 1.4px;
    font-size: 28px;
    font-family: "Raleway", serif;
    font-weight: 900; }

/*# sourceMappingURL=main.css.map */
